body {
	-ms-overflow-style: none;
	background-color: #1f1f1e;
}
::-webkit-scrollbar {
	display: none;
}
.App-background {
	position: relative;
	height: 100%;
	width: 100%;
}
h1 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 4%;
}
.process-container {
	position: absolute;
	top: 20%;
	height: 70px;
	width: 50px;
	background-color: aliceblue;
}
