.process-container {
	position: absolute;
	top: 20%;
	left: 25%;
	height: 70%;
	width: 50%;
	background-color: #2f2f2e;
	border-radius: 30px;
}
.indicator {
	display: flex;
	justify-content: space-evenly;
	height: 72%;
	width: 100%;
	/* border: green 1px solid; */
}
.btns {
	display: flex;
	justify-content: space-evenly;
	padding: 2rem 2.4rem;
}
.btn {
	background-color: #0066ff;
	color: #252525;
	height: 60px;
	width: 40%;
	border-radius: 24px;
	border: none;
	font-size: 32px;
}
.btn:active {
	background-color: #227aff;
}
.process-container #about-service {
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	padding-bottom: 5em;
	padding-left: 2rem;
	padding-right: 2rem;
}
#point {
	color: #247cffc7;
}
a {
	text-decoration: none;
	color: #f46d00;
}
